<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="default">
      <ion-list-header>
        <ion-label>Theme</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio slot="start" value="system"></ion-radio>
        <ion-label>System Default</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio slot="start" value="light"></ion-radio>
        <ion-label>Light</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio slot="start" value="dark"></ion-radio>
        <ion-label>Dark</ion-label>
      </ion-item>
    </ion-radio-group>

    <ion-item-group>
      <ion-list-header>
        <ion-label>Account</ion-label>
      </ion-list-header>
      <ion-item button (click)="manage()">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>Manage</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Log Out</ion-label>
      </ion-item>
    </ion-item-group>


  </ion-list>
</ion-content>
