<ion-header>
  <ion-toolbar>
    <ion-title>Collectable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Set Name
      </ion-card-title>
      <ion-card-subtitle>
        Description
      </ion-card-subtitle>
      <div class="horizontalscroll">
        <div class="items">
          <div class="collectable">
            <div class="image">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              Collectable Name
            </div>
          </div>
          <div class="collectable">
            <div class="image">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              Collectable Name
            </div>
          </div>
          <div class="collectable">
            <div class="image">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              Collectable Name
            </div>
          </div>
          <div class="collectable">
            <div class="image">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              Collectable Name
            </div>
          </div>
          <div class="collectable">
            <div class="image">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              Collectable Name
            </div>
          </div>
          <div class="collectable">
            <div class="image">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              Collectable Name
            </div>
          </div>
          <div class="collectable notfound">
            <div class="image">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              Collectable Name
            </div>
          </div>
          <div class="collectable">
            <div class="image">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              Collectable Name
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
