swagger: "2.0"
info:
  description: "This is the swagger documentation and API for the GeoCode project implemented by Peak Performers for the client [5DT](https://5dt.com/)."
  version: "1.0.0"
  title: "Swagger GeoCode"
  termsOfService: "https://swagger.io/terms/"
  contact:
    email: "peakperformers@geocodeapp.tech"
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
host: "db.geocodeapp.tech"
basePath: "/api"
tags:
  - name: "User"
    description: "Everything about the users of the platform"
  - name: "GeoCode"
    description: "Everything about QR Codes known as GeoCodes"
  - name: "Collectable"
    description: "Everything about the collectables that users can trade"
  - name: "Trackable"
    description: "Everything about the trackables users can create and follow"
  - name: "Leaderboard"
    description: "Everything about the different scores and rankings of users"
  - name: "Notifications"
    description: "Everything about how users are notified"
schemes:
  - "https"
  - "http"
paths:
  /GeoCode/createGeoCode:
    post:
      tags:
        - "GeoCode"
      summary: "Creates a new GeoCode"
      description: "Create GeoCode"
      operationId: "createGeoCode"
      consumes:
        - "application/json"
        - "application/xml"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "body"
          name: "CreateGeoCodeRequest"
          description: "Request to create a new GeoCode"
          required: true
          schema:
            $ref: '#/definitions/CreateGeoCodeRequest'
      responses:
        '200':
          description: "Create GeoCode Response"
          schema:
            $ref: '#/definitions/CreateGeoCodeResponse'
        '401':
          description: "Invalid Exception"
    
  /Collectable/createCollectable:
      post:
        tags:
          - "Collectable"
        summary: "Creates a new Collectable"
        description: "Create Collectable"
        operationId: "createCollectable"
        consumes:
          - "application/json"
          - "application/xml"
        produces:
           - "application/xml"
           - "application/json"
        parameters:
          - in: "body"
            name: "CreateCollectableRequest"
            description: "Request to create a new Collectable"
            required: true
            schema:
              $ref: '#/definitions/Collectable'
        responses:
          '200':
            description: "Collectable created successfully"
          '401':
            description: "Invalid Exception"
              
  /Collectable/getGeocodeCollectables:
    post:
        tags:
          - "Collectable"
        summary: "Get all Collectables for a certain GeoCode"
        description: "Get a GeoCode's Collectables"
        operationId: "getGeocodeCollectables"
        consumes:
          - "application/json"
          - "application/xml"
        produces:
           - "application/xml"
           - "application/json"
        parameters:
          - in: "body"
            name: "getGeocodeCollectablesRequest"
            description: "Request to get a GeoCode's Collectables"
            required: true
            schema:
              $ref: '#/definitions/getGeocodeCollectablesRequest'
        responses:
          '200':
            description: "Returned the GeoCode's Collectables successfully"
            schema:
              type: array
              items:
                $ref: '#/definitions/Collectable'
              xml:
                name: Collectable
          '401':
            description: "Invalid Exception"
definitions:
  CreateGeoCodeRequest :
    type: "object"
    required:
      - description
      - location
      - difficulty
      - hints
    properties:
      description:
        type: string
      location:
        type: string
      hints:
        type: array
        items:
          type: string
      difficulty:
        type: "string"
        description: "GeoCode real world locating difficulty"
        enum:
          - "EASY"
          - "MEDIUM"
          - "DIFFICULTY"
          - "INSANE"
    xml:
      name: "CreateGeoCodeRequest"
  CreateGeoCodeResponse :
    type: "object"
    properties:
      id:
        type: string
        format: uuid
      qrCode:
        type: string
    xml:
      name: "CreateGeoCodeResponse"
  Collectable:
    type: "object"
    required:
      - id
      - name
      - image
      - rarity
    properties:
      id:
        type: string
        format: uuid
      name:
        type: string
      image:
        type: string
      rarity:
        type: "string"
        enum:
          - "COMMON"
          - "UNCOMMON"
          - "RARE"
          - "EPIC"
          - "LEGENDARY"
    xml:
      name: "Collectable"
  
  getGeocodeCollectablesRequest:
    type: "object"
    required:
      - id
    properties:
      id:
        type: string
        format: uuid
    xml:
      name: "getGeocodeCollectablesRequest"