ion-title{
  font-size: xx-large;
  text-align: center;
  padding:0.5%;
}

.map{
  width: 100%;
  height: 50%;
  border-width: 0px;
  padding: 0px;
  background-color: white;

}

ion-col{
  border-bottom-color:  var(--ion-color-purple);
  border-bottom-width: .01em;
  border-bottom-style:solid; margin-bottom : -1px;
  height: 40px;
  padding: 5px;

  text-align: center;
}

#buttons{
  text-align: center;
}

#time-name{
  font-size: larger;
}
