<ion-header>
  <ion-toolbar>
    <ion-title>Time Trial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-title id="time-name">TimeTrial Name</ion-title>
  <br>
  <div #mapElement class="map"></div>
  <br>
  <ion-button color="button" id="buttons">Leader Board</ion-button>
  <ion-button color="button" id="buttons">Find Next GeoCode</ion-button>
  <br>
  <br>
  <ion-label>Current GeoCode: {{current}}</ion-label>
  <br>
  <ion-label>Quickest Route: {{route}}</ion-label>
  <br>
  <div  id ="geoCodeDetails" [hidden]="isHidden">

    <ion-card *ngFor="let geocode of selected">
      <ion-header>
        <ion-title id="card-title">
          {{geocode.description}}
        </ion-title>

      </ion-header>
      <ion-card-content>
        <ion-row class="row">
          <ion-col>Description</ion-col>
          <ion-col>{{geocode.description}}</ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col>Difficulty</ion-col>
          <ion-col>{{geocode.difficulty}}</ion-col>
        </ion-row>
        <ion-button id="button" color="button" (click)="findGeoCode(geocode)"  >Find GeoCode</ion-button>
           </ion-card-content>
    </ion-card>
  </div>
<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col>Stage</ion-col>-->
<!--      <ion-col>Description</ion-col>-->
<!--      <ion-col>Difficulty</ion-col>-->
<!--      <ion-col>Found</ion-col>-->
<!--    </ion-row>-->
<!--    <ion-row *ngFor="let code of geocodes">-->
<!--      <ion-col id="pos">{{code.stage}}</ion-col>-->
<!--      <ion-col>{{code.description}}</ion-col>-->
<!--      <ion-col>{{code.difficulty}}</ion-col>-->
<!--      <ion-col><ion-checkbox disabled="false"  [(ngModel)]="code.found"></ion-checkbox></ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
</ion-content>
