<app-sidebar-layout *ngIf="navigationLayout === 'sidebar'">
  <ng-container *ngTemplateOutlet="header" ngProjectAs="app-nav-header"></ng-container>
  <ng-container *ngTemplateOutlet="content" ngProjectAs="ion-content"></ng-container>
</app-sidebar-layout>

<app-tab-layout *ngIf="navigationLayout === 'tabs'">
  <ng-container *ngTemplateOutlet="header" ngProjectAs="app-nav-header"></ng-container>
  <ng-container *ngTemplateOutlet="content" ngProjectAs="ion-content"></ng-container>
</app-tab-layout>

<ng-template #header>
  <ng-content select="app-nav-header"></ng-content>
</ng-template>

<ng-template #content>
  <ng-content select="ion-content"></ng-content>
</ng-template>

