<ion-split-pane contentId="mainContent">
  <ion-menu contentId="mainContent">
    <ion-header>
      GeoCode
      <ng-content select="ion-header"></ng-content>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label>yeet</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>yeet</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>yeet</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ng-content id="mainContent" select="ion-content"></ng-content>
</ion-split-pane>

<!--<ng-template [ngIf]="sideNav" [ngIfElse]="tabs">
  <ion-split-pane contentId="mainContent">
    <ion-menu contentId="mainContent">
      <ion-header>
        <ng-content select="ion-header"></ng-content>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label>yeet</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>yeet</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>yeet</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ng-content id="mainContent" select="ion-content"></ng-content>
  </ion-split-pane>
</ng-template>
<ng-template [ngIf]="!sideNav">

</ng-template>
<ng-content class="tabbedView"></ng-content>-->
