ion-title{
  font-size: xx-large;
  text-align: center;
  padding:0.5%;
}

ion-toolbar{
  --background: var(--ion-color-teal);
  color: white;
}

ion-content{
  --ion-background-color:white;
}


.map{
  width: 100%;
  height: 50%;
  border-width: 0px;
  padding: 0px;
  background-color: white;
}
