<app-nav>

  <app-nav-header>
    <app-nav-toolbar>
      <ion-title>Events</ion-title>
    </app-nav-toolbar>
  </app-nav-header>

  <ion-header>
    <div class="horizontalscroll" >
      <div class="items" >
        <ion-row>
          <ion-col id="button-col"><ion-select id="button"  value='{radius}' placeholder= "Select Radius" (ionChange)="radius($event)">
            <ion-select-option value="10">10km</ion-select-option>
            <ion-select-option value="50">50km</ion-select-option>
            <ion-select-option value="100">100km</ion-select-option>
            <ion-select-option value="500">500km</ion-select-option>
            <ion-select-option value="0">No radius limit</ion-select-option>
          </ion-select></ion-col>
          <ion-col id="list-col" >
            <ion-button class="listView" color="card" [hidden]="listView"  (click)="toggleList()"><ion-icon name="list-outline"></ion-icon></ion-button>
            <ion-button [hidden]="!listView" color="card" (click)="toggleList()"><ion-icon name="map-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>

      </div>
    </div>
  </ion-header>

  <ion-content>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="button" [routerLink]="['create']">
        <ion-icon  name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <app-map-and-info #mapAndInfo [hidden]="listView">

      <ion-card *ngIf="selected !== null">
        <div  id="close-button">
          <ion-button id="close" color="white" (click)="close()">X</ion-button>
        </div>
        <ion-header>
          <ion-title id="card-title">
            {{selected.name}}
          </ion-title>
        </ion-header>
        <ion-card-content>
          <ion-row class="row"  class="heading">
            Description
          </ion-row>
          <ion-row class="row">
            {{selected.description}}
          </ion-row>
          <ion-button id="button" color="button" (click)="goToEvent(selected)">Join Event</ion-button>
          <ion-button id="button" color="button" (click)="goToLeaderBoard(selected)">LeaderBoard</ion-button>
        </ion-card-content>
      </ion-card>

    </app-map-and-info>

    <div id="listView" [hidden]="!listView">

      <ion-card *ngFor="let event of events" class="eventList">
        <ion-header>
          <ion-title id="card-title">
            {{event.name}}
          </ion-title>
        </ion-header>
        <ion-card-content>
          <ion-row class="row"  class="heading">
            Description
          </ion-row>
          <ion-row class="row">
            {{event.description}}
          </ion-row>
          <ion-button id="button" color="button" (click)="goToEvent(event)">Join Event</ion-button>
          <ion-button id="button" color="button" (click)="goToLeaderBoard(event)">LeaderBoard</ion-button>
        </ion-card-content>
      </ion-card>

    </div>

</ion-content>

</app-nav>

