<ion-header>
  <ion-toolbar>
    <ion-title>Mission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br /> <br />
  <ion-card >
    <ion-card-title id="card-title">Title</ion-card-title>
    <ion-card-content id ="details" >
      Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore
      et.
    </ion-card-content>
  </ion-card>
  <br />
  <br /><ion-header>Progress</ion-header>
  <br /><ion-progress-bar color="accent"type="determinate" value={{0.5}}></ion-progress-bar ><br /><br />

  <ion-header>Current Location</ion-header>
  <br />

  <div #mapElement [style.height]="height" class="map"></div>
</ion-content>
