#geoCodeDetails{

}

ion-card{
  background-color:var(--ion-color-card) ;
  border:  var(--ion-color-accent) solid 5px;
  text-align: center;
  border-radius: 8px;
  margin: 5px;
}

#details{
  width: 100%;
  display: flex;

}
