<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Collections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let set of sets">
    <ion-card-content>
      <div class="header">
        <div class="details">
          <ion-card-title>
            {{set.name}}
          </ion-card-title>
          <ion-card-subtitle>
            {{set.description}}
          </ion-card-subtitle>
        </div>
      </div>
      <div class="horizontalscroll">
        <div class="items">
          <div class="collectable" *ngFor="let type of types[set.id]">
            <div class="image">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              {{type.name}}
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
