.horizontalscroll {
  position: relative;
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: auto;
}

.image {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-height: 100px;
}

.items {
  width: auto;
  white-space: nowrap;
  position: relative;
}

.collectable {
  width: 100px;
  display: inline-block;
  white-space: normal;
  text-align: center;
  margin: 5px;
}

.notfound {
  opacity: 0.4;
}

.header {
  display: flex;
}

.header .details {
  flex-grow: 1;
}

.header ion-button {
  margin-top: 0px
}

.card{
  background-color: var(--ion-color-card);
}

.found{
  color: var(--ion-color-accent);
  font-weight: bold;
}

