<ion-header>
  <ion-toolbar>
    <ion-title>Collections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="isAdmin()">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addSet()" color="button">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
  <ion-card *ngFor="let set of sets" class="card">
    <ion-card-content>
      <div class="header">
        <div class="details">
          <ion-card-title>
            {{set.name}}
          </ion-card-title>
          <ion-card-subtitle>
            {{set.description}}
          </ion-card-subtitle>
        </div>
        <ng-template [ngIf]="isAdmin()">
          <div class="add">
            <ion-button size="small" (click)="addType(set.id)" color="button">
              <ion-icon name="add-outline"></ion-icon>
              <ion-label>Add to Set</ion-label>
            </ion-button>
          </div>
        </ng-template>
      </div>
      <div class="horizontalscroll">
        <div class="items">
          <div class="collectable" *ngFor="let type of types[set.id]">
            <div class="image">
              <img src="{{type.image}}">
            </div>
            <div class="name">
              {{type.name}}
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
