.contentBox {
  padding-left: 10px;
}

.card{
  background-color: var(--ion-color-card);
}

.cardHeadings{
  color: var(--ion-color-title);
}

.userDetails{
  color: var(--ion-color-accent);
}

.image {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.image img {
  max-height: 100px;
}
