<ion-tabs [slot]="tabsPlacement" >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="geocode">
      <ion-icon  [src]="geoCodeIcon"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collectables">
      <ion-icon [src]="collectableIcon"></ion-icon>
      <ion-label>Collections</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
