<ion-tabs #tabs>

  <ion-tab-bar slot="bottom" [ngClass]="{'hidden': navigationLayout.layout === 'sidebar'}">
    <ion-tab-button *ngFor="let tab of tabList" tab="{{tab.internalName}}">
      <ion-icon name="{{tab.iconName}}"></ion-icon>
      <ion-label>{{tab.name}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <img src="/assets/images/GeoCode LogoWhiteX.svg" [ngClass]="{'hidden': navigationLayout.layout === 'tabs' || navigationLayout.compact}">

  <ion-list [ngClass]="{'hidden': navigationLayout.layout === 'tabs'}">
    <ion-item button *ngFor="let tab of tabList" (click)="tabs.select(tab.internalName)" [ngClass]="{'selected': isSelected(tab)}">
      <ion-icon slot="start" name="{{tab.iconName}}"></ion-icon>
      <ion-label>{{tab.name}}</ion-label>
    </ion-item>
  </ion-list>

</ion-tabs>
