<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Geocodes</ion-title>
  </ion-toolbar>
  <ng-template [ngIf]="createdIDs && createdIDs.length > 0">
    <ion-segment (ionChange)="segmentChanged($event)" value="found" color="main">
      <ion-segment-button value="found">
        <ion-label>Found</ion-label>
      </ion-segment-button>
      <ion-segment-button value="created">
        <ion-label>Created</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ng-template>
</ion-header>

<ion-content>
  <app-map-and-info #mapAndInfo>
    <ion-button (click)="showDetails(null)">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <ion-card>
      <ion-card-header>
        <ion-label>yeet</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-button>
          <ion-label>Open in Google Maps</ion-label>
        </ion-button>
        <ion-button>
          <ion-label>Export QR Code</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </app-map-and-info>

</ion-content>
