<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Geocodes</ion-title>
  </ion-toolbar>
  <ng-template [ngIf]="createdIDs && createdIDs.length > 0">
    <ion-segment (ionChange)="segmentChanged($event)" value="found" color="main">
      <ion-segment-button value="found">
        <ion-label>Found</ion-label>
      </ion-segment-button>
      <ion-segment-button value="created">
        <ion-label>Created</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ng-template>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col #yeet id="mapColumn" [ngClass]="getClass()" [sizeMd]="mapSizeMD()" [sizeLg]="mapSizeLG()" size="12">
        <div #mapElement class="map"></div>
      </ion-col>
      <ion-col id="geocodeColumn" [ngClass]="getClass()" size-md="4" size-lg="3" size="12" *ngIf="detailedGeoCode">
        <ion-button (click)="closeDetails()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
        <ion-card>
          <ion-card-header>
            <ion-label>{{detailedGeoCode.description}}</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-button>
              <ion-label>Open in Google Maps</ion-label>
            </ion-button>
            <ion-button>
              <ion-label>Export QR Code</ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
