<ion-header>
  <ion-toolbar>
    <ion-title>Create GeoCode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input type="text"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input type="text"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Hint 1</ion-label>
    <ion-input type="text"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Hint 2</ion-label>
    <ion-input type="text"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Please Select Location on Map</ion-label>
    <ion-label #location></ion-label>
  </ion-item>



  <div #mapElement class="map">

  </div>

  <ion-button class="button" color="danger">Create GeoCode</ion-button>
</ion-content>
