<ion-header>
  <ion-toolbar>
    <ion-title>Find GeoCode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



    <div #mapElement class="map" [hidden]="isHidden"></div>
    <ion-item class="barcode" [hidden]="isHidden">
      <ion-label>GeoCode</ion-label>
      <ion-input #QR class="barcode-input" type="text"></ion-input>
      <ion-button color="danger" (click)="found(QR)">Found</ion-button>
    </ion-item>
    <div class="hints" [hidden]="isHidden">
      <ion-row>Hints</ion-row>
      <ion-grid *ngFor="let hint of hints">

        <ion-row>
          <ion-col>{{hint}}</ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>Difficulty</ion-col>
          <ion-col>{{geocode.difficulty}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div [hidden]="!isHidden">
      <h2>Collectables</h2>
      <div class="horizontalscroll">
        <div class="items">
          <div class="collectable" *ngFor="let collectable of collectables">
            <div class="image" (click)="swapCollectable(collectable)">
              <img src="https://via.placeholder.com/100">
            </div>
            <div class="name">
              {{collectable.type.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

</ion-content>
