<app-nav>

  <app-nav-header>
    <app-nav-toolbar>
      <ion-title>Open GeoCode</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="explore"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="scan()">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-label>Scan</ion-label>
        </ion-button>
      </ion-buttons>
    </app-nav-toolbar>
  </app-nav-header>

  <ion-content *ngIf="geocode !== null">

    <div #mapElement class="map" [hidden]="isHidden"></div>

    <ion-item class="barcode" [hidden]="isHidden">
      <ion-label>GeoCode</ion-label>
      <ion-input #QR class="barcode-input" type="text"></ion-input>
      <ion-button color="danger" (click)="found(QR.value)">Found</ion-button>
    </ion-item>

    <div class="hints" [hidden]="isHidden">
      <ion-row>Hints</ion-row>
      <ion-grid *ngFor="let hint of hints">
        <ion-row>
          <ion-col>{{hint}}</ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>Difficulty</ion-col>
          <ion-col>{{geocode.difficulty}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div [hidden]="!isHidden">
      <h2>Collectables</h2>
      <div class="horizontalscroll">
        <div class="items">
          <div class="collectable" *ngFor="let collectable of collectables">
            <div class="image" (click)="swapCollectable(collectable)">
              <img src="{{collectable.type.image}}">
            </div>
            <div class="name">
              {{collectable.type.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>

</app-nav>
