<app-nav>

  <app-nav-header>
    <app-nav-toolbar>
      <ion-title>Find GeoCode</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="explore"></ion-back-button>
      </ion-buttons>
    </app-nav-toolbar>
  </app-nav-header>

  <ion-content>
    <app-map-and-info #mapAndInfo [showInfo]="true">
      <div *ngIf="geocode !== null">
        <ion-card color="card">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-title>Open GeoCode</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="button" [routerLink]="['open']">
                  <ion-icon name="qr-code-outline"></ion-icon>
                  <ion-label>Scan QR Code</ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col id="orLabel">
                <ion-label>or</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input #QR placeholder="Enter Text Code" type="text"></ion-input>
                  <ion-button slot="end" color="button" (click)="openTextQR(QR.value)">Submit</ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card color="card">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-title>Difficulty</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>{{geocode.difficulty}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card color="card">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-title>Hints</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let hint of geocode.hints">
              <ion-col>
                <ion-label>{{hint}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </app-map-and-info>
  </ion-content>

</app-nav>
