.row {
  /*border-bottom-color: black;
  border-bottom-width: .01em;
  border-bottom-style:solid;
  margin-bottom : -1px;*/

  border-top-color: black;
  border-top-width: .01em;
  border-top-style:solid;
}

#header {
  display: flex;
}

#header .title {
  flex-grow: 1;
}

#header .button {
  margin-left: 10px;
}

#header ion-button {
  margin-top: 0px
}

ion-checkbox{
  --checkmark-color: white;
  --background-checked:var(--ion-color-accent);
  --border-color:white;
  --border-color-checked:white;
}
/*
#card-title{
  font-size: x-large;
  text-align: center;
  padding:0.5%;
  color: var(--ion-color-accent);
}
#button-col{
  text-align: center;
}

#button{
  width: auto;
  // background: var(--ion-color-button);
  //color: var(--ion-color-button-contrast);

}

#close-button{
  text-align: left;
}

#close{
  color: var(--ion-color-button);

}

ion-card{
  background-color:var(--ion-color-card) ;
  //border:  var(--ion-color-accent) solid 5px;
  width:85%;
  text-align: center;
  border-radius: 8px;
  margin: 5px;
}

.title-text-wrap {
  text-overflow: inherit;
  white-space: normal;
}

*/
