<app-nav>

  <app-nav-header>
    <app-nav-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="events"></ion-back-button>
      </ion-buttons>
      <ion-title>Event Status</ion-title>
    </app-nav-toolbar>
  </app-nav-header>

  <ion-header>
    <ion-grid>
      <ion-row *ngIf="event !== null">
        <ion-col size="6">  <ion-title id="time-name">{{event.name}}</ion-title></ion-col>
        <ion-col size="6">  <ion-button color="button" class="leaderBoardButton" (click)="openLeaderBoard()">Leaderboard</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>

  <ion-content>
    <app-map-and-info #mapAndInfo [showInfo]="true">
      <app-geocode-details *ngIf="geocode !== null" [geocode]="geocode" [showFindGeoCode]="true"></app-geocode-details>
      <ion-card *ngIf="status !== null && (status.details.hasOwnProperty('blocks') || true)">
        <ion-button expand="block">
          <ion-icon name="extension-puzzle-outline"></ion-icon>
          <ion-label>Open Blockly Editor</ion-label>
        </ion-button>
      </ion-card>
    </app-map-and-info>
  </ion-content>

</app-nav>
