<app-nav>

  <app-nav-header>
    <app-nav-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="events"></ion-back-button>
      </ion-buttons>
      <ion-title>Event Status</ion-title>
    </app-nav-toolbar>
  </app-nav-header>

  <ion-content>
    <app-map-and-info #mapAndInfo [showInfo]="true">
      <ion-card *ngIf="event !== null" color="card">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>{{event.name}}</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="button" expand="block" (click)="openLeaderBoard()">
                <ion-icon name="list-outline"></ion-icon>
                <ion-label>View Leaderboard</ion-label>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="status !== null && status.details.hasOwnProperty('blocks')">
              <ion-button color="button" expand="block" (click)="openBlockly()">
                <ion-icon name="extension-puzzle-outline"></ion-icon>
                <ion-label>Open Blockly Editor</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <app-geocode-details *ngIf="geocode !== null" [geocode]="geocode" [showFindGeoCode]="true"></app-geocode-details>
    </app-map-and-info>
  </ion-content>

</app-nav>
