ion-title{
  font-size: xx-large;
  text-align: center;
  padding:0.5%;
}
ion-col{
  border-bottom-color:  var(--ion-color-purple);
  border-bottom-width: 1px;
  border-bottom-style:solid; margin-bottom : -1px;
  height: max-content;
  text-align: center;
  font-size: large;
}
#buttons{
  text-align: center;
}

#headings{
  font-size: x-large;
}
