<ion-header>
  <ion-toolbar>
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>Position</ion-col>
    <ion-col>Username</ion-col>
    <ion-col>Points</ion-col>
  </ion-row>
  <ion-row *ngFor="let point of points">
    <ion-col id="pos">{{point.pos}}</ion-col>
    <ion-col>{{point.username}}</ion-col>
    <ion-col>{{point.points}}</ion-col>
  </ion-row>
</ion-grid>
  <div id="buttons">
    <ion-button><ion-icon name="arrow-back-outline"></ion-icon>Prev</ion-button>
    <ion-button>Next<ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </div>

</ion-content>
