<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="explore"></ion-back-button>
    </ion-buttons>
    <ion-title>Update GeoCode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input type="text" (ionBlur)="updateDescription($event)" value="{{updateRequest.description}}"></ion-input>
  </ion-item>

    <ion-list>
      <ion-button (click)="addHint()">Add Hint +</ion-button>
      <div *ngFor="let hint of updateRequest.hints">
        <ion-item>
          <ion-label>Hint</ion-label>
          <ion-input type="text" (ionBlur)="updateHints($event,hint)" value="{{hint}} "> </ion-input>
        </ion-item>
      </div>

    </ion-list>


  <ion-item>
    <ion-label>Difficulty</ion-label>
    <ion-select  placeholder="Select One" #Diff (ionChange)="updateDifficulty(Diff.value)" value="{{updateRequest.difficulty}}">
      <ion-select-option value="EASY">Easy</ion-select-option>
      <ion-select-option value="MEDIUM">Medium</ion-select-option>
      <ion-select-option value="HARD">Hard</ion-select-option>
      <ion-select-option value="INSANE">Insane</ion-select-option>
    </ion-select>
  </ion-item>


  <div #mapElement class="map"></div>
  <div id="button-container">
    <ion-button class="button" color="button" (click)="updateGeoCode()">Create GeoCode</ion-button>
  </div>

  <canvas id="canvas"></canvas>
  <img src="" alt="" id="image"/>
  <img id="image" alt="">


</ion-content>
