<app-nav>
  <app-nav-header>
    <app-nav-toolbar>
      <ion-title id="page-title">Explore</ion-title>
    </app-nav-toolbar>
  </app-nav-header>

  <ion-header>
    <div class="horizontalscroll">
      <ion-button [hidden]="listView"  color="button" (click)="toggleList()" slot="fixed">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Show as List</ion-label>
      </ion-button>
      <ion-button [hidden]="!listView" color="button" (click)="toggleList()">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Show on Map</ion-label>
      </ion-button>

      <div class="items">
        <ion-chip *ngFor="let diff of getDifficulties()" (click)="toggleDifficulty(diff)" [ngClass]="{difficultyActive: selectedDifficulties[diff]}">
          <ion-icon name="checkmark-circle"></ion-icon>
          <ion-label>{{diff}}</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-header>

  <ion-content>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="button" [routerLink]="['geocode/create']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <app-map-and-info #mapAndInfo [hidden]="listView">
      <app-geocode-details
        [geocode]="selectedGeocode"
        [closeFunction]="closeDetails"
        [showFindGeoCode]="true"
        [showUpdateAvailability]="currentUser.isAdmin()"
      ></app-geocode-details>
    </app-map-and-info>

    <ion-grid [hidden]="!listView">
      <ion-row>
        <ion-col class="grid" *ngFor="let geocode of selectedDifficultyGeoCodes()">
          <app-geocode-details
            [geocode]="geocode"
            [showFindGeoCode]="true"
            [showUpdateAvailability]="currentUser.isAdmin()"
          ></app-geocode-details>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</app-nav>

