.horizontalscroll {
  position: relative;
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: auto;
  white-space: nowrap;
}

.difficultyActive {
  --background: var(--ion-color-accent);
}

ion-fab {
  margin-bottom: 20px;
}
