<ion-header>
  <ion-toolbar>
    <ion-title>Add Collectable Type</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="proceed()">
        <ng-template [ngIf]="!loading" [ngIfElse]="isLoading">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ng-template>
        <ng-template #isLoading>
          <ion-spinner></ion-spinner>
        </ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input (ionBlur)="updateRequest($event, 'name')"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rarity</ion-label>
      <ion-select placeholder="Select" interface="popover" (ionBlur)="updateRequest($event, 'rarity')">
        <ion-select-option value="COMMON">Common</ion-select-option>
        <ion-select-option value="UNCOMMON">Uncommon</ion-select-option>
        <ion-select-option value="RARE">Rare</ion-select-option>
        <ion-select-option value="EPIC">Epic</ion-select-option>
        <ion-select-option value="LEGENDARY">Legendary</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Trackable</ion-label>
      <ion-checkbox [(ngModel)]="trackable"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Expiring</ion-label>
      <ion-checkbox [(ngModel)]="showDatePicker"></ion-checkbox>

    </ion-item>
    <ng-template [ngIf]="showDatePicker">
      <ion-item>
        <ion-datetime (ionChange)="setDate($event)" placeholder="Set Expiry Date"></ion-datetime>
      </ion-item>
    </ng-template>
    <ion-item>
      <ion-label>Geofenced</ion-label>
      <ion-checkbox [(ngModel)]="showMap" (ionChange)="loadMap()"></ion-checkbox>
    </ion-item>
    <ion-item #mapContainer class="mapContainer">
      <div #mapElement class="map"></div>
    </ion-item>
  </ion-list>


</ion-content>
