<ion-header>
  <ion-toolbar>
    <ion-title>Add Collectable Type</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="proceed()">
        <ng-template [ngIf]="!loading" [ngIfElse]="isLoading">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ng-template>
        <ng-template #isLoading>
          <ion-spinner></ion-spinner>
        </ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input (ionBlur)="updateRequest($event, 'name')"></ion-input>
    </ion-item>
    <ion-item>
      <input #fileUploader type="file" [hidden]="true" (change)="uploadImage($event)" accept="image/png, image/jpeg, image/gif">
      <ion-label>Image</ion-label>
      <img id="imagePreview" *ngIf="request.image !== null" src="{{request.image}}">
      <ion-button size="default" slot="end" color="button" (click)="fileUploader.click()">
        <ng-template [ngIf]="request.image === null" [ngIfElse]="editImage">
          <ion-icon name="cloud-upload-outline"></ion-icon>
          <ion-label>Upload</ion-label>
        </ng-template>
        <ng-template #editImage>
          <ion-icon name="create-outline"></ion-icon>
          <ion-label>Change</ion-label>
        </ng-template>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rarity</ion-label>
      <ion-select placeholder="Select" interface="popover" (ionBlur)="updateRequest($event, 'rarity')">
        <ion-select-option value="COMMON">Common</ion-select-option>
        <ion-select-option value="UNCOMMON">Uncommon</ion-select-option>
        <ion-select-option value="RARE">Rare</ion-select-option>
        <ion-select-option value="EPIC">Epic</ion-select-option>
        <ion-select-option value="LEGENDARY">Legendary</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Trackable</ion-label>
      <ion-checkbox [(ngModel)]="trackable"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mission</ion-label>
      <ion-select value="None" interface="popover" (ionBlur)="updateMission($event)">
        <ion-select-option value="None">None</ion-select-option>
        <ion-select-option value="Circumference">Circumference</ion-select-option>
        <ion-select-option value="Geocode">Geocode</ion-select-option>
        <ion-select-option value="Swap">Swap</ion-select-option>
        <ion-select-option value="Random">Random</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>


</ion-content>
