<ion-header>
  <ion-toolbar>
    <ion-title>Create GeoCode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input type="text" (ionBlur)="updateRequest($event,'description')"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Hint 1</ion-label>
    <ion-input type="text" (ionBlur)="updateHints($event)"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Hint 2</ion-label>
    <ion-input type="text" (ionBlur)="updateHints($event)"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Difficulty</ion-label>
    <ion-select  placeholder="Select One" #Diff (ionChange)="updateDifficulty(Diff.value)">
      <ion-select-option value="EASY">Easy</ion-select-option>
      <ion-select-option value="MEDIUM">Medium</ion-select-option>
      <ion-select-option value="DIFFICULTY">Hard</ion-select-option>
      <ion-select-option value="INSANE">Insane</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Please Select Location on Map</ion-label>
    <ion-label #location></ion-label>
  </ion-item>

  <div #mapElement class="map"></div>
  <div id="button-container">
    <ion-button class="button" color="danger" (click)="createGeoCode()">Create GeoCode</ion-button>
  </div>


</ion-content>
